<div class="component pt-4">

  <!-- Search Box -->
  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" placeholder="Search by name" (input)="onSearchChange($event.target.value)">
  </div>

  <!-- Table -->
  <table class="table table-stripped mt-4">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th>Country</th>
        <th class="text-center">Is Student</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredContacts">
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.gender | gender}}</td>
        <td>{{item.dateOfBirth | date: 'dd.MM.yyyy'}}</td>
        <td>{{item.countryCode | countryName | async }}</td>
        <td>
          <div class="text-center">
            <input type="checkbox" [checked]="item.isStudent" disabled readonly />
          </div>
        </td>
        <td>
          <div class="text-center">
            <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/EditContact', item.id]">Edit</button>
            <button type="button" class="btn btn-sm btn-danger ml-2" (click)="onDeleteClick(item)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
